.container{
    margin-top:2rem;
}
.content{
    width: min(87%, 476px);
    text-align: left;
}
.content img{
    right:0;
}
.title {
    color: #F9004D;
    font-size: 2.8rem;
    font-weight: 600;
    padding-top: 15px;
    width: min-content;
    display:flex;
}

.text > p{
    color:gray;
    padding-top:1rem;
    line-height:25px;
    width: min(79%, 458px);
} 
.title span{
    position: relative;
    bottom: 0.8rem;
    font-size: 33px;
    
}
@media (max-width:1090px){
    .container{
        padding-bottom:5%;
    }
    
    .title {
        font-size:1.2rem;
        text-wrap:nowrap;
    }
}