.container{
    position: relative;
   
    background:white;
}
.img > img {
    border-radius: 0.5rem;
    max-height: 30rem;
    box-shadow:4.5px 4.5px  black;
}
.side_content{
    display:flex;
    flex-direction:column;
    position: relative;
    bottom: 34rem;
    padding-left: 39%;
}


.about_content > p {
    /* text-wrap: pretty; */
    /* max-width: 39%; */
    width: min(50%, 500px);
    line-height: 26px;
    font-weight: lighter;
    padding-top: 0.5rem;
    text-align: left;
    color:#828E95;
}
.about_content h1 {
    font-size: 3rem;
    position: relative;
    top: 1.5rem;
    /* right: 16.3%; */
    width: min(95%, 151px);

}
.content_group{
    display: flex; 
    justify-content: flex-end;
    text-align: left;
    align-items: end;

}
.content_group p {
    width: min(51%, 500px);
    line-height: 25px;
}
.content_group  h3 {
    text-wrap: nowrap;
  
}
.img {
    position: relative;
    right: 25%;
    bottom: 2.8rem;
}
.first_content{
    
    
}
.first_content p {
    color:#828E95;
}
.second_content{   
    position: relative;
    right: 15.9%;
}
.second_content  p{
    color:#828E95;
}
.content_group > * {
    flex-basis:100%;
}
@media(max-width:1090px) {
    .img  > img{
        position: relative;
        left: 25%;
        
        width: min(89%, 866px);
    }
    .img {
        top:2.5rem;
    }
    .about_content p {
        width: min(50%, 500px);
    }
    .content_group {
        flex-direction: column;
        /* text-align: left; */
        position: relative;
        top: 4rem;
        gap: 2.5rem;
        padding-right: 5.5rem;
    }
    .side_content {
        position: relative;
        top: 5rem;
        display: grid;
        right: 40%;
        min-width: 100%;
        grid-template-rows: 35%;
        padding-bottom: 10rem;
    }
    .content_group p{
        width: 80%;
        position: relative;
        left: 13.8%;
    }
    .content_group > *  {
        position: relative;
        right: 16%;
    }
    }

