.container{
    display:none;
}
@media(max-width:1090px){
    .container{
        display:block;
    }
   
    .container > img {
        
        max-height:4rem;
        position:relative;
        left: 20rem;
        bottom: 14.4rem;
    }
}