.footer{
    display:flex;
    background:#1D1E24;
}
.content{
    display: flex;
    position: relative;
    top: 4rem;
    text-wrap: nowrap;
    gap: 15rem;
}
.first_container{
    background-color: #f42936;
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    flex:1;
    height: 21.8rem;
}
.second_container{
    background:#1D1E24;
    flex:1;
    display:flex;
    color:#9B9EAB;
}
.first_list{
    
    
    position:relative;
    left:9%;
}
.first_list .items:hover{
    cursor:pointer;
    color:#A40C3D;
}

.text p{
    font-size: 3rem;
    
    color:white;
    font-weight:700;
}
.title p{
    color:white;
}

.btn {
    position: relative;
    right:1%;
    padding: 15px 20px 15px 20px;
    color: white;
    border-radius: 0.7rem;
    background: transparent;
    border-color: White;
    width: min(100%, 159px);
    transition: transform 0.5s ease;
}
.btn:hover{
    cursor:pointer;
    transform:translateY(-0.5rem);
    color:red;
    background:white;
}
.social_icons{
    display: flex;
    flex: 1;
    gap: 0.6rem;
    justify-content: center;
}
.ic{
    transition: transform 0.5s ease;
}
.ic:hover {
    fill:white;
    transform:translateY(-0.5rem);
    cursor:pointer;
    box-size:border-box;
}
.copyright{
    text-wrap: nowrap;
    position: relative;
    top: 13rem;
    right: 100%;
    width: min(100%, 473px);
}
@media (max-width:980px){
    .footer {
        display:flex;
        flex-direction: column;
    }
}